---
- name: Preparacion de nodos en AWS
  hosts: docker_host
  become: false
  roles:
    - role: docker

- name: Registrar nodos Docker creados en el inventario
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    all_containers_info: []
  tasks:
    - name: Recolectar informaci칩n de contenedores de todos los hosts Docker # noqa: run_once[task]
      ansible.builtin.set_fact:
        all_containers_info: >-
          {{
            all_containers_info +
            (hostvars[item].get('docker_nodes_state', {}).get('results', []) |
            map('combine', {'parent_host': item}) | list)
          }}
      loop: "{{ query('inventory_hostnames', 'docker_host') }}"
      run_once: true

    - name: A침adir nodos Docker al inventario din치mico desde la lista recolectada
      ansible.builtin.add_host:
        name: "{{ item.parent_host }}_lampnode{{ item.item }}"
        groups: lamp_nodes_docker
        ansible_host: "{{ hostvars[item.parent_host].ansible_host }}"
        ansible_port: "{{ item.container.NetworkSettings.Ports['22/tcp'][0].HostPort }}"
        ansible_user: "{{ hostvars[item.parent_host].ansible_user_for_nodes }}"
        ansible_ssh_private_key_file: "{{ hostvars[item.parent_host].ansible_ssh_key_for_nodes }}"
      loop: "{{ all_containers_info }}"
      loop_control:
        label: "{{ item.parent_host }}_lampnode{{ item.item }}"

    - name: Mostrar nodos a침adidos al grupo lamp_nodes_docker
      ansible.builtin.debug:
        var: groups.get('lamp_nodes_docker', [])

- name: Deploy LAMP
  hosts: vmware_lamp_nodes, lamp_nodes_docker
  become: true
  roles:
    - role: lamp_stack
