---
- name: Actualizar cache APT
  apt:
    update_cache: true
  become: true

- name: Instalar entorno LAMP
  apt:
    name:
      - apache2
      - mysql-server
      - php
      - libapache2-mod-php
      - php-mysql
    state: present
  become: true

- name: Configurando Apache Virtual
  template:
    src: apache-vhost.conf.j2
    dest: /etc/apache2/sites-available/000-default.conf
  become: true
  notify: restart apache

- name: Asegurando inicio de apache
  service:
    name: apache2
    state: started
    enabled: true
  become: true

- name: Crear pagina de info php
  template:
    src: info.php.j2
    dest: /var/www/html/info.php
  become: true
