---
- name: Actualizar cache APT
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: Instalar entorno LAMP
  ansible.builtin.apt:
    name:
      - net-tools
      - apache2
      - mysql-server
      - php
      - libapache2-mod-php
      - php-mysql
    state: present
  become: true

- name: Configurando Apache Virtual
  ansible.builtin.template:
    src: apache-vhost.conf.j2
    dest: /etc/apache2/sites-available/000-default.conf
    mode: '0644'
  become: true
  notify: Restart apache

- name: Asegurando inicio de apache
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: true
  become: true

- name: Crear pagina de info php
  ansible.builtin.template:
    src: info.php.j2
    dest: /var/www/html/info.php
    mode: '0644'
  become: true
